@import url('https://fonts.googleapis.com/css?family=Open+Sans');

h1, h2, h3, h4, p, button, div {
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 1.5em;
    margin: 24px 0;
}

p {
    line-height: 24px;
}