button {
    margin: 0 10px;
}

button:first-of-type {
    margin-left: 0;
}

button:last-of-type {
    margin-right: 0;
}

.alternate-button {
    border: 1px solid $stepper-button-blue;
    color: $stepper-button-blue;
    font-weight: 600;
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
}

.action-button {
    background-color: $default-orange;
    color: white;
    font-weight: 600;
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
}